Repository cakevm/nostos, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, contracts, documentation, dependencies, configuration, ci/cd, tests, security

fix: Update ESLint configuration for Next.js compatibility
  contracts/.eslintrc.json
  eslint.config.mjs
Labels: contracts, configuration

fix: Update forge install command to use --no-git flag
  .github/workflows/ci.yml
  contracts/README.md
  contracts/install-deps.sh
Labels: contracts, ci/cd

fix: Handle initial commit case in TruffleHog secret scanner
  .github/workflows/ci.yml
Labels: ci/cd

fix: Relax TypeScript strictness for MVP compatibility
  tsconfig.json
Labels: configuration

fix: Update TypeScript for wagmi v2 compatibility and type safety
  app/api/sponsor/route.ts
  app/item/[id]/page.tsx
  components/ClaimForm.tsx
  components/ItemRegistration.tsx
  components/MyItems.tsx
  components/RevealContactModal.tsx
  lib/contract-data.ts
  lib/useEncryption.ts
Labels: frontend

fix: Override Vercel environment variables in GitHub workflow
  .github/workflows/deploy.yml
Labels: ci/cd

fix: Simplify Vercel deployment to bypass broken environment variable
  .github/workflows/deploy.yml
Labels: ci/cd

fix: Remove NEXT_PUBLIC_PORTO_APP_ID environment variable
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  vercel.json
Labels: configuration, ci/cd

docs: Add live demo URL to README
  README.md
Labels: documentation

feat: Add ETH balance display to navigation bar
  components/Navigation.tsx
Labels: frontend

refactor: Move ETH balance display to PortoAuth component
  components/Navigation.tsx
  components/PortoAuth.tsx
Labels: frontend

fix: Multi-chain item lookup for found items
  components/ClaimForm.tsx
Labels: frontend

feat: Add Base Sepolia block explorer links for all transactions
  .gitignore
  Makefile
  PORTO-INTEGRATION.md
  README.md
  app/api/rpc/route.ts
  app/api/sponsor/route.ts
  app/found/[code]/page.tsx
  app/help/page.tsx
  app/item/[id]/page.tsx
  app/page.tsx
  components/ClaimForm.tsx
  components/FoundItems.tsx
  components/ItemRegistration.tsx
  components/MyItems.tsx
  components/PortoAuth.tsx
  components/Presentation.tsx
  components/QRScanner.tsx
  components/RevealContactModal.tsx
  lib/block-explorer.tsx
  lib/contract-data.ts
  lib/decryption.ts
  lib/encryption.ts
  lib/signature-cache.ts
  lib/useEncryption.ts
  package.json
  setup-git-hooks.sh
  setup-porto-sponsor.sh
Labels: frontend, documentation, dependencies, security

fix: Improve UI/UX with animation and form enhancements
  components/BoatAnimation.tsx
  components/Presentation.tsx
  components/ui/input.tsx
  components/ui/textarea.tsx
Labels: frontend

.github/labeler.yml:

# Configuration for GitHub labeler action
# Add labels to PRs based on files changed

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'app/**'
      - 'components/**'
      - 'public/**'
      - '*.tsx'
      - '*.css'

contracts:
  - changed-files:
    - any-glob-to-any-file:
      - 'contracts/**'
      - '*.sol'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'contracts/foundry.toml'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.*'
      - 'tsconfig.json'
      - '.env.example'
      - 'vercel.json'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.*'
      - '**/*.spec.*'
      - 'contracts/test/**'

security:
  - changed-files:
    - any-glob-to-any-file:
      - 'lib/encryption.ts'
      - 'lib/decryption.ts'
      - 'lib/porto-config.ts'
      - 'contracts/src/Nostos.sol'
